.contextmenu
{
	text-align: center;
	width: 100px;
	position: absolute;
	border: 1px solid #BFBFBF;
	box-shadow: 2px 2px 4px #aaaaaa;
	background-color:rgba(111,111,111,0.6);
	filter:Alpha(opacity=60);
}
.contextmenu > div
{
	cursor: default;
	color: #e9e8ea;
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
    border-bottom:1px solid #8f9394;
}
.contextmenu > div:hover
{
	background-color: #bab7bd;
	color: #4f4b52;
}
.shadow
{
	position:absolute;
	background-color:gray;
	left:0;
	top:0;
	width:100%;
	height:100%;
}